@import '/mcleod-reset';
@import '~font-awesome/css/font-awesome.css';

body {
    background-image: url('../images/stars.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
        padding: 2rem;
        font-size: 2rem;
        text-shadow: 2px 1px 14px rgb(107, 3, 3);
        color: rgb(255, 202, 0);
        letter-spacing: .2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            text-shadow: 2px 1px 14px rgb(107, 3, 3);
            color: rgb(255, 202, 0);
            font-size: 1.3rem;
        }

        .api-input {
            margin: 1rem;
            border-radius: 5px;
            border: 1px solid rgb(98, 117, 141);
            height: 2rem;
            width: 20rem;
            text-align: center;
            color: black;
        }
    }
}

.result {
    margin-top: 3rem;
    background-color: white;
    color: black;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-weight: bold;
        line-height: 2rem;
    }
    
    h2, h3, h4 {
        line-height: 2rem;
    }
}

@media screen and (max-width: 23rem) {
    html {
        font-size: 90%;
    }
}